@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Outfit", sans-serif;
}
body{
    /* background-color: #000000; */
    background-color: rgba(28, 27, 27, 0.957);


}
a{
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    color: inherit;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    background-color: #FF3131 ;
    color: #111111;
    border-radius: 40px;
    padding: 10px 15px;
    border: 1px solid black;
    font-size: 15px;
    cursor: pointer;
    outline: 0;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content:center ;
}
.btn img {
    /* margin: 20px; */
    margin-left: 10px;
    width: 18px;
}